.cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vh;
    /* Vertical separation between cards */
    max-width: 80vw;
    /* Maximum width before moving vertically */
    margin: 0 auto;
    /* Center the cards container */
}

.card_container {
    flex: 0 0 calc(43.33% - 3vh);
    box-sizing: border-box;
    margin-bottom: 3vh;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    max-width: 300px;
    background-color: #fefefe;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.175);
    border-radius: 2px;
    transition: all 0.3s ease;

    .card_wrapper {
        padding: 30px 20px;
        display: flex;
        flex-direction: column;

        .title {
            font-size: 1.65rem;
            font-weight: bold;
            margin-bottom: 30px;
            text-shadow: 0 0 0px rgba(0, 0, 0, 0.35);
            transition: all 0.3s ease;
        }

        .date {
            font-size: 1.45rem;
            color: #555;
        }
    }

    &:hover {
        box-shadow: 0 0 0 #fff;

        .title {
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        }
    }

}